<% provide(:title, "Promotion")%>
<div class="medium-12">
    <div class="medium-6 columns">
        <table>
            <h2>Users</h2>
            <%= pluralize(@users.count, "user") %> 
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
            <% @users.each do |user| %>
                <tr>
                    <td> <%= user.id %></td>
                    <td> <%= user.name %></td>
                    <td> <%= link_to "Promote to Maintainer", rolify_path(id: user.id, role: "maintainer"),class: "button" %></td>
                </tr>
                <br>
            <% end %>
        </table>
    </div>
    <div class="medium-6 columns">
        <table>
            <h2>Maintainers</h2>
            <%=pluralize(@maintainers.count, "maintainer") %>
            <tr>
                <th>Name</th>
            </tr>
            <% @maintainers.each do |maintainer| %>
                <tr>
                    <td> <%= link_to maintainer.name, maintainer %></td>
                    <td> <%= link_to "demote to user",rolify_path(id: maintainer.id,role: "user"), class: "button" %></td>
                </tr>
                <br>

            <% end %>
        </table>
    </div>
</div>
