<% provide(:title, "Assigned")%>
<div class="medium-12">
    <div class="medium-6 columns">
        <table>
            <h2>Assigned Requests</h2>
             <%= pluralize(@assigned.count, "request") %>
            <tr>
                <th>Id</th>
                <th>Request</th>
                <th>Status</th>
            </tr>
            <% @assigned.each do |assigned| %>
                <tr>
                    <td> <%= assigned.id %>
                    <td> <%= link_to assigned.content , assigned %></td>
                    <td>ASSIGNED</td>
                    <td> <%= link_to "mark as resolved",accept_path(id: assigned.id, status: "resolved"),class: "button" %></td>
            </tr>
        <% end %>
        </table>
    </div>
    <div class="medium-6 columns">
        <table>
            <h2>Resolved requests</h2>
             <%= pluralize(@resolved.count, "request") %>
            <tr>
                <th>Id</th>
                <th>Request</th>
                <th>status</th>
            </tr>
            <% @resolved.each do |resolved| %>
                <tr> 
                    <td> <%= resolved.id %></td>
                    <td> <%= link_to resolved.content, resolved %></td>
                    <td> resolved </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>

