<% provide(:title, "Requests")%>
<div>
    <%= link_to "View Assigned and Resolved requests", assign_path %>
    </div>
<div class="medium-12">
    <div class="medium-6 columns">
        <table>
            <h2> Requests made</h2>
            <p> <%= pluralize(@requests.count, "request") %></p>
            <tr>
                <th>Id</th>
                <th>Request</th>
            </tr>
            <% @requests.each do |request| %>
                <tr>
                    <td> <%= request.id %></td>
                    <td> <%= link_to request.content, request %> </td>
                    <td> <%= link_to "Approve", accept_path(id: request.id , status: "approved"),class: "button" %></td>
                <td> <%= link_to "Reject", accept_path(id: request.id , status: "rejected"),class: "button" %></td>
            </tr>

        <% end %>
        </table>
    </div>
    <div class="medium-6 columns">
        <table>
            <h2>Approved requests</h2>
            <p> <%= pluralize(@approved.count, "request") %></p>
            <tr>
                <th>Id</th>
                <th>Request</th>
            </tr>
            <p> <% @approved.each do |approved| %>
            <tr>
                <td> <%= approved.id %></td>
                <td> <%= link_to approved.content, approved %></td>
                <td> <%= link_to "Reject", accept_path(id: approved.id , status: "rejected"),class: "button" %></td>
                <td> <%= link_to "assign to maintainer",maintainer_path(request_id: approved.id) ,class: "button" %></td>
            </tr>
        <% end %>
        </table>
    </div>
</div>
